@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap');

*, 
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

::-webkit-scrollbar {
    width: 0;
}
body{
    font-family: "poppins", sans-serif;
    overflow-x: hidden;
    
  }


  
.logo{
    width: 50px;
}

header{
    position: absolute;
    z-index: 999;
    padding: 0.9rem 0;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

header nav{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.8s;
  }
  
header nav ul li:hover::after{
    width: 100%;
  }

header ul{
    display: flex;
    list-style: none;
    align-items: center;

}

header ul a{
    text-decoration: none;
    color: white;
    padding: 0 1.5rem;
    text-transform: uppercase;
    font-weight: 1000;
}
.hamburger{
    padding-left: 1.5rem;
}
.hamburger a{
    padding: 0;
    width: 37px;
    height: 37px;
    display: flex;
    border-radius: 50%;
    background-color: rgba(115, 115, 115, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
}

.hamburger .bar{
    position: relative;
    width: 52%;
    height: 1.3px;
    background-color: white;
    border-radius: 2px;
}

.hamburger .bar::before, .hamburger .bar::after{
    content:"";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 100%;
    background-color: inherit;
    border-radius: 2px;

}

.hamburger .bar::before{
    top: -4.5px;
}

.hamburger .bar::after{
    top: 4.5px;
}

main .slideuno{
    position: relative;
    height: 100vh;
    width: 100vw;
    
    
}

section{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    
}

.parallax{
    pointer-events: none;
    transition: 0.45s cubic-bezier(.2,.49,.32,.99);
    


}
.slideuno {
    height: 150vh;
    width: 100vw;
    position: relative;

    overflow: hidden;
    
}

.slide{
    inset: 0;
    opacity: 0;

}

.slide[data-active]{
    opacity: 1;
}


.carousel-button.next{
    right: 1rem;
}
.bg-img{
    position: absolute;
    width: 150%;
    height: 3000px;
    top: calc(50% - 390px);
    left: calc(50% + 10px);
    z-index: 1;
    
    
}

.bg-img2{
    position: absolute;
    width: 150vw;
    height: 150vh;
    top: 50%;
    left: 50%;
    z-index: 1;
    
}



.text{
    position: absolute;
    pointer-events: auto;
    z-index: 3;
    top: calc(50% - 130px);
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.text h2{
    font-size: 6.5rem;
    font-weight: 100;
    line-height: 0.88;
}

.text h1{
    font-weight: 800;
    font-size: 8rem;
    line-height: 0.88;
}

.leftcloud{
    position: absolute;
    width: 1700px;
    top: calc(50%);
    left: 0;
    z-index: 3;
}

.rightcloud{
    position: absolute;
    width: 1500px;
    top: calc(50% );
    left: calc(50% + 600px);
    z-index: 4;
}

.rightlilcloud{
    position: absolute;
    width: 800px;
    top: calc(50% - 70px);
    left: calc(50% + 40px);
    z-index: 5;
}

.frontcloud{
    position: absolute;
    width: 110vw;
    top: calc(50% + 200px);
    left: calc(50% + 20px);
    z-index: 6;
}

.vignette{
    position: relative;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 65%, rgba(0,0,0,0.7));
    
}

.download_button{
    z-index: 1000;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 30px 60px;
    font-size: large;
    border-radius: 8px;

    background: transparent;
}

.download_button:hover{
    box-shadow: 0 0 20px 0 rgba(255,255,255,1);
    transition: 0.2s;
}

.download_button:not(:hover){
    background: transparent;
    transition: 0.2s;
}





/* Add this style for the sea background */
/* Add this style for the sea background */
.sea-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #007bff; /* Electric blue background color */
    transition: background-color 0.5s ease; /* Transition for background color change */
}

/* CSS */
.scrollable-container {
    display: flex;
    flex-direction: column; /* Make it a column layout */
    min-height: 100vh; /* Ensure it takes at least the viewport height */
    overflow: hidden;
    position: relative;
    
}

.scrollable-content {
    flex: 1; /* Allow content to expand and fill remaining space */
    display: flex;
    flex-direction: column;
    
}

/* Rest of your styles remain the same */


.scrollable-spacer {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    pointer-events: none; /* Allows mouse events to pass through */
    
    
}

.section {
    position: relative;
    width: 70vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: white;
    margin-top: 100px;
    margin-bottom: 100px;
    /*background-color: red;*/
    
}

.left {
    transform: translateX(10%);
}

.right {
    transform: translateX(40%);
}

.section-content span {
    font-size: 30px;
    margin-top: 100px; /* Space between each span */
    margin-bottom: 100px; /* Space between each span and the end of the section */
    padding-top: 0;
    padding-bottom: 0;
    display: block;
    
}

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
    
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    
}

.logos{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: space-between; /* Add horizontal space between logos */
    left: 50%;
    margin-right: 30px;
    

    
}

.logos:nth-child(2){
    transition-delay: 100ms;
}
.logos:nth-child(3){
    transition-delay: 200ms;
}

.cote{
    left: 0;
    
}

.more {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    height: 100vh; /* Ensure the section takes up the full viewport height */
    text-align: center; /* Center the text */
    
}


.particle {
    position: absolute;
    filter: blur(5px);
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    animation: fadeOut 2s linear forwards;
    z-index: 2000;
    
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 0.8;
    }
    100% {
      opacity: 0;
    }
  }

  
.desc{
    pointer-events: auto;
    z-index: 3;
    left: 50%;
    font-size: 2rem;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    
}





.index h1{
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
    font-size: 8rem;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7); /* Adjust the values as needed */
    

}

.desc p{
    width: 75%;
    margin: 0 auto;

    margin-top: 10%;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7); /* Adjust the values as needed */
    

}

/* CSS for the fade-in animation */
.hiddenpop {
    opacity: 0;
    filter: blur(10px);
    transition: all 1s ease;
    
}

.hiddenpop.show {
    opacity: 1;
    filter: blur(0);
    
}





.contact-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('img/stars.jpg') no-repeat center center fixed;
    background-size: 110%;
    
}


/* Keep the rest of your .contact-form-container styles unchanged */
.contact-form-container {
    background-color: #333; /* Dark background for the form */
    color: #fff; /* Light text */
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    width: 90%;
    max-width: 500px;
    
}

/* The rest of your input and label styles remain the same */


form {
    display: flex;
    
    flex-direction: column;
}

input[type="text"],
input[type="email"],
textarea {
    
    background-color: #fff; /* Light background for input fields */
    color: #333; /* Darker text for readability */
    border: 1px solid #ddd;
    border-radius: 8px; /* Curved corners for input fields */
    padding: 10px;
    margin-bottom: 20px; /* Space between fields */
    resize: none; /* Prevent textarea resizing */
}

input[type="submit"] {
    background-color: #4CAF50; /* Submit button color */
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #45a049; /* Darker shade on hover */
}

label {
    margin-bottom: 5px;
    
    font-size: 16px;
}


/* Styles for common section appearance */
.section-common {
    margin: 50px auto; /* Center the section */
    padding: 50px; /* Uniform padding */
    border-radius: 10px;
    background-color: rgba(23, 43, 77, 0.85); /* Semi-transparent dark background */
    color: #ffffff; /* Text color */
    max-width: 1200px; /* Sets a max-width for larger screens */
    display: flex;
    flex-direction: column; /* Stack children vertically */
    width: 100%; /* Ensure full width usage */
}

/* Additional specific styles for about-me-section and projects-section */
.about-me-section, .projects-section {
    /* All styles are inherited from .section-common */
}
/* about me section revamp */

.mainindex{
    background-color: rgba(23, 43, 77, 1); /* Adjust the alpha for transparency */
}

.about-me-section {
    opacity: 0; /* Commencez transparent mais pas totalement invisible */
    transform: translateY(20px); /* Commencez légèrement plus bas */
    transition: opacity 0.8s ease-out, transform 0.8s ease-out; /* Transition pour les deux propriétés */
    visibility: hidden; /* Initialement masqué */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(23, 43, 77, 0.85); /* Semi-transparent dark background */
    padding: 50px; /* Uniform padding */
    border-radius: 10px;
    color: #ffffff;
    margin: 50px auto; /* Center the section with automatic horizontal margins */
    gap: 30px; /* Adds space between the text and the photo */
    max-width: 1200px; /* Optional: Sets a max-width for larger screens */
}

.about-me-section.is-visible {
    animation: fadeInAnimation 1s ease-out forwards;
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: translateY(20px);
        visibility: visible; /* Set to visible at the start of the animation */
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Ensure that the .about-me-content does not stretch too wide on larger screens */
.about-me-content {
    max-width: calc(100% - 250px); /* Subtract the width of the photo plus some margin */
    flex: 1; /* Allows the content to fill the available space */
}

.about-me-section h2,
.projects-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #64ffda; /* This is the accent color, a bright teal */
    display: flex; /* Use flexbox to layout the text and the line */
    align-items: center; /* Aligns the text and line vertically */
}

/* Ajoutez la ligne après le titre dans les deux sections */
.about-me-section h2::after,
.projects-section h2::after {
    content: '';
    flex-grow: 1; /* Ensures the line will fill the space to the right */
    height: 1px;
    background-color: #64ffda; /* Color of the line */
    margin-left: 10px; /* Space between the text and the line */
    transition: width 0.3s ease; /* Transition for any hover effects if needed */
}
.about-me-content p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.about-me-content ul {
    columns: 2; /* Creates two columns */
    -webkit-columns: 2; /* For Safari and older browsers */
    -moz-columns: 2; /* For Firefox */
    column-gap: 20px; /* Adjust the gap between columns as needed */
    padding: 0;
    margin-bottom: 20px; /* Space below the list */
    list-style-type: none; /* Removes bullet points */

}

.about-me-content ul li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
    break-inside: avoid-column; /* Prevents items from breaking across columns */
}


.about-me-content ul li::before {
    content: '▹'; /* Custom bullet point */
    position: absolute;
    left: 0;
    color: #64ffda; /* Match the accent color */
}
.photocontainer {
    animation: fadeIn 1s ease-out forwards;
    position: relative; /* Sets the positioning context for the absolute elements inside */
    width: 220px; /* Set the width of the container to fit the image and padding */
    height: 220px; /* Set the height of the container to fit the image and padding */
}

.blue-square {
    position: absolute; /* Positioned relative to its nearest positioned ancestor */
    top: 10px; /* Padding top inside the container */
    left: 10px; /* Padding left inside the container */
    width: 200px; /* Width of the square, adjust based on the desired final size */
    height: 200px; /* Height of the square, adjust based on the desired final size */
    background-color: #64ffda; /* Light blue color */
    z-index: 0; /* Ensures it's behind the image if needed */
    border-radius: 5px;

}
.about-me-photo {
    position: relative; /* Allows absolute positioning relative to the photo */
    width: 200px; /* Set the width of the photo */
    height: 200px; /* Set the height of the photo */
    object-fit: cover; /* Ensures the image covers the area without being distorted */
    overflow: hidden; /* Ensures nothing goes outside the boundary of the photo */
    margin: 0 auto; /* Centers the photo if needed */
    background-color: white; /* In case the image doesn't load, there will be a white background */
    border-radius: 5px; /* Sets the photo as a square */
    z-index: 1; /* Ensures the photo stays above the pseudo-element */
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);  /* Légère translation pour l'effet */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* css section 2 */
.projects-section{
    opacity: 0; /* Commencez transparent mais pas totalement invisible */
    transform: translateY(20px); /* Commencez légèrement plus bas */
    transition: opacity 0.8s ease-out, transform 0.8s ease-out; /* Transition pour les deux propriétés */
    visibility: hidden; /* Initialement masqué */
    color: white;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(23, 43, 77, 0.85); /* Semi-transparent dark background */
    padding: 50px; /* Uniform padding */
    border-radius: 10px;
    color: #ffffff;
    margin: 50px auto; /* Center the section with automatic horizontal margins */
    gap: 30px; /* Adds space between the text and the photo */
    max-width: 1200px; /* Optional: Sets a max-width for larger screens */
}

.projects-section.is-visible {
    animation: fadeInAnimation 1s ease-out forwards;

    opacity: 1;
    transform: translateY(0);
    visibility: visible; /* Set to visible as it fades in */
}

.projects-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #64ffda; /* This is the accent color, a bright teal */
    display: flex; /* Use flexbox to layout the text and the line */
    align-items: center; /* Aligns the text and line vertically */
    width: 100%; /* Ensure the h2 takes full width */
}

.projects-section h2::after {
    content: '';
    flex-grow: 1; /* Ensures the line will fill the space to the right */
    height: 1px;
    background-color: #64ffda; /* Color of the line */
    margin-left: 10px; /* Space between the text and the line */
    transition: width 0.3s ease; /* Transition for any hover effects if needed */
}

.project-nav li {
    list-style-type: none;
    cursor: pointer;
    padding: 10px;
    position: relative; /* To position the blue line */
    transition: background-color 0.3s;
    margin-left: -20px; /* Shift text to the right to make space for the blue line */
    padding-left: 30px; /* Add padding to maintain alignment */
}

.project-nav li.active::before {
    content: '';
    position: absolute;
    left: 0; /* Blue line on the very left */
    top: 0;
    bottom: 0;
    width: 2px; /* Width of the blue line */
    background-color: #64ffda; /* Light blue color */
    transition: all 0.3s; /* Smooth transition for the active state change */
}


.project-nav li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: transparent;
    transition: background-color 0.3s;
}

.project-nav li.active::before {
    background-color: #64ffda; /* Light blue color for the active project */
}

.projects-container {
    display: flex;
    align-items: flex-start; /* Align items to the top */
    gap: 20px; /* This adds some space between your project nav and the details */
    max-width: 1200px; /* Maximum width of the container */
    margin: 50px auto; /* Center the container */
}




.project-nav {
    flex: 0 0 200px; /* Set a fixed width for the navigation */
    margin-right: 20px; /* Optional: if you want some space between the nav and the details */
}
    
.project-details {
    flex: 1; /* This will make the details section take up the remaining space */
    min-width: 0;
    min-height: 200px;
    display: flex; /* Allows you to use flexbox properties within the details */
    flex-direction: column; /* Stacks the child elements (each project detail) vertically */
    max-width: 800px; /* Adjust as needed, or remove if you want it to grow with content */
}

.project {
    display: none; /* Hide all projects initially */
    flex: 1; /* Allows each project detail to grow if needed */
    padding: 10px; /* Optional: if you want some inner spacing within the details */
}

.project.active {
    display: block; /* Only the active project will be displayed */
    padding: 20px;
    min-height: 200px;
}

.skill-logo {
    height: 70px; /* Adjust size as desired */
    width: auto; /* Maintain aspect ratio */
    margin: 5px; /* Add some space between logos */
    vertical-align: middle; /* Align logos with the surrounding text */
    padding-left: 30px;
    opacity: 0; /* Start hidden */
    transform: translateX(-100%); /* Start from the left */
    transition: opacity 1s ease, transform 1s ease; /* Smooth transition for fade-in and slide */
}

.skill-logo.show {
    opacity: 1;
    transform: translateX(0); /* End at normal position */
}

.project-skills {
    display: flex;
    justify-content: center; /* Center logos horizontally */
    align-items: center; /* Center logos vertically, if needed */
    flex-wrap: wrap; /* Allow logos to wrap onto the next line on small screens */
    padding: 10px 0; /* Add some vertical padding around the logos */
}

.project h3{
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #64ffda; /* Accent color */
}


/* section 3 education */

.education-section {
    color: white;
    max-width: 1200px;
    margin: auto;
    padding: 50px;
    position: relative;
}

.timeline-container {
    display: flex;
}

.timeline {
    list-style: none;
    padding: 0;
    margin: 0;
}

.timeline-date {
    cursor: pointer;
    padding: 10px;
    border-left: 4px solid #64ffda;
    margin-bottom: 10px;
    position: relative;
    transition: transform 0.3s ease;
}

.details-container {
    flex-grow: 1;
    padding-left: 30px; /* Space between timeline and details */
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateX(100%);
    max-height: 0;
    overflow: hidden;
}

/* When active, slide in the details container */
.details-container.active {
    opacity: 1;
    transform: translateX(0);
    max-height: none; /* Allow it to expand as needed */
}

/* Details panels */
.details-panel {
    display: none;
}

.details-panel.active {
    display: block;
}


